.window {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  padding: .25rem;
  border-radius: .725rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}